.board {
  @include display-flex;
  @include flex-direction(row);
  @include user-select(none);

  height: 100%;
  width: 100%;
}

.play-region {
  @include box-sizing(border-box);
  @include flex(1);

  height: 100%;
  background-clip: padding-box;

  .play-region + &.right {
    border-left: $global-padding solid transparent;
    float: right;
  }
}

.current-region {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}