.card {
  @include user-select(none);
  @include border-radius($card-border-radius);
  @include box-shadow($card-shadow-distance $card-shadow-distance $card-shadow-size $card-shadow-blur rgba(0, 0, 0, $card-shadow-alpha));

  cursor: pointer;
  width: auto; // determined by code.
  height: 100%;
  position: absolute;
  z-index: $z-index-card;
  background-size: cover;

  &:not(.faceUp) {
    .runner & {
      background-image: url('/images/cards/runner-back.jpg')
    }
    .corp & {
      background-image: url('/images/cards/corp-back.jpg')
    }
  }

  .row & {
    &:first-child,  {
      @include box-shadow($card-shadow-distance $card-shadow-distance $card-shadow-size $card-shadow-blur rgba(0, 0, 0, $card-shadow-alpha-first-in-pile));
    }

    &:not(:first-child) {
      @include box-shadow($card-shadow-distance $card-shadow-distance $card-shadow-size $card-shadow-blur rgba(0, 0, 0, $card-shadow-alpha-pile));
    }

    .left &  { @include transform(rotate(90deg)); }
    .right & { @include transform(rotate(-90deg)); }
  }

  .tokens {
    width: 100%;
    height: 100%;
  }

  &.loading:before {
    @include animation(spin $card-spinner-duration infinite linear);
    content: '';
    background: url('/images/cards/spinner.png') no-repeat center;
    position: absolute;
    width: $card-spinner-size;
    height: $card-spinner-size;
  }
}

.zoomed-card-container {
  $zoomed-card-width: $zoomed-card-height * $card-aspect-ratio;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -$zoomed-card-height / 2;
  margin-left: -$zoomed-card-width / 2;
  height: $zoomed-card-height;
  background-color: gray;

  .card {
    @include box-shadow(0px 0px $zoomed-card-shadow-size $zoomed-card-shadow-blur rgba(0, 0, 0, $zoomed-card-shadow-alpha));
    z-index: $z-index-zoomed-card;
    height: $zoomed-card-height;
    width: $zoomed-card-width;
  }
}