.card {
  @include user-select(none);
  @include border-radius($card-border-radius);
  @include box-shadow($card-shadow-distance $card-shadow-distance $card-shadow-size $card-shadow-blur rgba(0, 0, 0, $card-shadow-alpha));

  cursor: pointer;
  width: auto; // determined by code.
  height: 100%;
  position: absolute;
  background-size: cover;
  z-index: $z-index-card;

  &:not(.faceUp) {
    .runner & { background-image: url('/images/cards/runner-back.jpg'); }
    .corp &   { background-image: url('/images/cards/corp-back.jpg'); }
  }

  &.loading:before {
    @include animation(spin $card-spinner-duration infinite linear);
    content: '';
    background: url('/images/cards/spinner.png') no-repeat center;
    position: absolute;
    width: $card-spinner-size;
    height: $card-spinner-size;
  }

  .tokens-pile {
    position: absolute;
  }

  .left & {
    @include transform-origin(50%, 100%);

    @for $i from 0 through 90 {
      &.card-rotation-#{$i} {
        @include transform(translate(-50%, 0) rotate(#{$i}deg));
      }
    }
  }

  .right & {
    @include transform-origin(50%, 100%);

    @for $i from 0 through 90 {
      &.card-rotation-#{$i} {
        @include transform(translate(50%, 0) rotate(-#{$i}deg));
      }
    }
  }
}