.player-info {
  position: relative;
  width: 100%;
  height: $player-info-relative-height;
  top: 100% - $player-info-relative-height;

  .left & { direction: rtl; }
  .right & { direction: ltr; }
}

.credits-region {
  width: $player-info-credits-width;
}

.tags-bp-region {
  width: $player-info-tags-width;
}

.brain-dmg-region {
  width: $player-info-damage-width;
}

.info-region {
  @include inline-block();
  height: 100%;
}