$player-info-height: 60%;
$credits-region-width: 20%;
$tags-bp-region-width: 30%;
$brain-dmg-region-width: 10%;

.player-info {
  width: 100%;
  height: $player-info-height;
  position: relative;
  top: 100% - $player-info-height;

  .left & { direction: rtl; }
  .right & { direction: ltr; }
}

.credits-region {
  width: $credits-region-width;
  height: 100%;
}

.tags-bp-region {
  width: $tags-bp-region-width;
  height: 100%;
}

.brain-dmg-region {
  width: $brain-dmg-region-width;
  height: 100%;
}

.info-region {
  @include inline-block();
}