$credits-region-width: 20%;

.player-info {
  width: 100%;
  height: 100%;

  .left & { direction: rtl; }
  .right & { direction: ltr; }
}

.credits-region {
  width: $credits-region-width;
  height: 100%;
}