.piles {
  width: 100%;
  height: 100%;

  @include display-flex;
  @include flex-direction(column);
}

.pile {
  margin-bottom: $global-padding;
  &:last-child { margin-bottom: 0; }

  display: flex;
  position: relative;
  @include flex(1);
  @include box-sizing(border-box);

  .left & { direction: ltr; }
  .right & { direction: rtl; }
}
