.piles {
  width: 100%;
  height: 100%;

  @include display-flex;
  @include flex-direction(column);

  .left & { direction: ltr; }
  .right & { direction: rtl; }
}

.pile {
  $pile-margin: 4px;

  margin-bottom: $pile-margin;
  &:last-child { margin-bottom: 0; }

  display: flex;
  position: relative;
  @include flex(1);
  @include box-sizing(border-box);
}
