.player {
  @include box-sizing(border-box);
  @include border-radius($global-padding);

  width: 100%;
  height: 100%;
  border: 1px dashed $player-border-color;
  padding: $global-padding;

  &.corp   { background-color: rgba($player-corp-color, $player-background-alpha); }
  &.runner { background-color: rgba($player-runner-color, $player-background-alpha); }
}

.rows-region {
  width: 100%;
  height: $player-rows-region-height;
}

.hand-region {
  position: fixed;
  bottom: 0;
  width: $player-hand-relative-size;
  height: $player-hand-relative-size;
  z-index: $z-index-hand;

  .left & { left: 0; }
  .right & { right: 0; }
}

.player-info-region {
  @include box-sizing(border-box);

  margin-top: $global-padding;
  width: 100%;
  height: calc(#{100% - $player-rows-region-height} - #{$global-padding});
}