.rows {
  @include display-flex;
  @include flex-direction(column);

  width: 100%;
  height: 100%;

  .left & { direction: ltr; }
  .right & { direction: rtl; }
}

.row {
  @include flex(1);
  @include box-sizing(border-box);

  display: flex;
  position: relative;

  margin-bottom: $row-vertical-margin;
  &:last-child { margin-bottom: 0; }

  .left & { margin-left: $row-initial-horizontal-margin; }
  .right & { margin-right: $row-initial-horizontal-margin; }
}
