.tokens-pile {
  width: 100%;
  height: 100%;
  position: relative;
}

.token {
  $token-percent: 30%;
  position: absolute;
  width: $token-percent;
  @include border-radius(25px);
  @include box-shadow(-1px -1px 1px 1px rgba(0, 0, 0, 0.5));


  $random-range: 40;
  @for $i from 0 through $random-range {
    &.random-transform-#{$i} {
      $deg: (-$random-range / 2) + ($i * 2);
      @include transform(rotate(#{$deg}deg));
    }
  }

}