!!! 5
%html{lang: 'en'}
  %head
    %title= 'Netrunner Monolith'

    %meta{charset: 'utf-8'}

    %link{:href => '/images/favicon.png', :rel => 'shortcut icon'}
    %link{href: 'css/index.css', rel: 'stylesheet'}

    %script{type: 'text/javascript', src: 'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js'}
    %script{type: 'text/javascript', src: 'http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'}
    %script{type: 'text/javascript', src: 'http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'}
    %script{type: 'text/javascript', src: 'http://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.1.0/backbone.marionette.min.js'}

%body

  // Structure.

  .board
    .play-region.left
    .play-region.right

  .zoomed-card-container

  // Templates

  %script{id: 'player-view-template', type: 'text/template'}
    .piles-region
    .player-info-region
    .hand-region

  %script{id: 'player-info-view-template', type: 'text/template'}
    .credits-region

  %script{id: 'pile-view-template', type: 'text/template'}
    .cards

  %script{id: 'card-view-template', type: 'text/template'}

  %script{id: 'tokens-pile-view-template', type: 'text/template'}

  // Monolithlication Javascript

  %script{type: 'text/javascript', src: 'js/index.js'}