!!! 5
%html{:lang => 'en'}
  %head
    %title= 'Netrunner Monolith'

    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, user-scalable=no'}
    %meta{:name => 'description', :content => 'Listen to the current hot songs in /r/ListenToThis. New music everytime you check!'}
    %meta{:property => 'og:image', :content => '/images/logo-share.png'}
    %meta{:property => 'og:url', :content => 'http://www.yolistentothis.com/'}
    %meta{:property => 'og:type', :content => 'website'}
    %meta{:property => 'og:title', :content => 'Yo Listen to This'}

    %link{:href => '/images/favicon.png', :rel => 'shortcut icon'}
    %link{:href => "css/index.css", :rel => "stylesheet"}

    = Haml::Engine.new(File.read('src/haml/_vendor.haml')).render
    = Haml::Engine.new(File.read('src/haml/_google_analytics.haml')).render

%body
  = Haml::Engine.new(File.read('src/haml/_body.haml')).render
  %script{type: "text/javascript", src: "js/index.js"}