// GENERAL

$global-padding: 6px;
$background-image-size: 200px;

// CARDS

$card-aspect-ratio: 0.706;
$card-shadow-distance: -0.3px;
$card-border-radius: 6%;

// ROWS

$row-initial-horizontal-margin: 20px;
$row-vertical-margin: 4px;