// GENERAL

$global-padding: 6px;
$background-image-size: 200px;

// PLAYER

$player-border-color: rgba(47, 47, 47, 0.75);
$player-background-alpha: 0.075;
$player-rows-region-height: 80%;
$player-hand-relative-size: 19vh;

$player-corp-color: rgb(65, 44, 232);
$player-runner-color: rgb(215, 40, 40);

// CARDS

$card-aspect-ratio: 0.706;
$card-border-radius: 6%;

$card-shadow-distance: -0.3px;
$card-shadow-size: 1px;
$card-shadow-blur: 1px;
$card-shadow-alpha: 0.35;
$card-shadow-alpha-first-in-pile: 0.35;
$card-shadow-alpha-pile: 0.12;

$card-spinner-duration: 1s;
$card-spinner-size: 40px;

$card-margins-in-row: 2px;

// ZOOMED CARD

$zoomed-card-height: 440px;

$zoomed-card-shadow-size: 300px;
$zoomed-card-shadow-blur: 30px;
$zoomed-card-shadow-alpha: 0.9;

// TOKENS

$tokens-rotation-classes: 40;

$token-relative-size: 40%;
$token-relative-size-in-card: 18%;

$tokens-round-border-radius: 100%;
$tokens-square-border-radius: 15%;
$tokens-brain-damage-border-radius: 135% 195% 190% 165%;

// ROWS

$row-initial-horizontal-margin: 4px;
$row-vertical-margin: 6px;

// PILES

$pile-margins: 6px;

// PLAYER-INFO

$player-info-relative-height: 60%;

$player-info-credits-width: 18%;
$player-info-tags-width: 28%;
$player-info-damage-width: 15%;

// CURRENT

$current-relative-height: 19vh;
$current-relative-hiddening: -12vh;

// Z-INDICES

$z-index-card: 1000;
$z-index-hand: 1100;
$z-index-zoomed-card: 5000;