.board {
  height: 100%;
  width: 100%;
  @include display-flex;
  @include flex-direction(row);
  @include user-select(none);
}

.play-region {
  height: 100%;
  background-clip: padding-box;
  @include box-sizing(border-box);
  @include flex(1);

  .play-region + &.right {
    border-left: $global-padding solid transparent;
    float: right;
  }
}

.player {
  $border-color: rgba(47, 47, 47, 0.75);
  $border-radius: $global-padding;
  $background-alpha: 0.075;

  width: 100%;
  height: 100%;
  border: 1px dashed $border-color;
  padding: $global-padding;
  @include box-sizing(border-box);
  @include border-radius($border-radius);

  &.corp {
    background-color: rgba(65, 44, 232, $background-alpha);
  }

  &.runner {
    background-color: rgba(215, 40, 40, $background-alpha);
  }

  .piles {
    width: 100%;
    height: 100%;

    @include display-flex;
    @include flex-direction(column);
  }

  .hand {
    position: fixed;
    bottom: 0;

    .left & { left: 0; }
    .right & { right: 0; }

    $hand-size: 30vw;

    width: $hand-size;
    height: $hand-size;

    z-index: 1000;

  }
}