.pile {
  width: 100%;
  height: 100%;
  margin-bottom: $global-padding;
  &:last-child { margin-bottom: 0; }

  display: flex;
  @include flex(1);
  @include box-sizing(border-box);

  .left & { direction: ltr; }
  .right & { direction: rtl; }
}

.card {
  width: 150px;

  .runner & { background-image: url('/images/cards/runner-back.jpg') }
  .corp & { background-image: url('/images/cards/corp-back.jpg') }
  background-size: cover;

  $border-radius: 8px;
  @include border-radius($border-radius);
  @include box-shadow(0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.25));

}