.play-region {
  width: 50%;
  height: 100%;
  background-clip: padding-box;
  @include box-sizing(border-box);

  $play-region-padding: ($global-padding * 0.5) solid transparent;

  &.left {
    border-right: $play-region-padding;
    float: left;
  }

  &.right {
    border-left: $play-region-padding;
    float: right;
  }
}

.player {
  $border-color: rgba(47, 47, 47, 0.75);
  $border-radius: $global-padding;
  $background-alpha: 0.075;

  width: 100%;
  height: 100%;
  border: 1px dashed $border-color;
  padding: $global-padding;
  @include box-sizing(border-box);
  @include display-flex;
  @include flex-direction(column);
  @include border-radius($border-radius);

  &.corp {
    background-color: rgba(65, 44, 232, $background-alpha);
  }

  &.runner {
    background-color: rgba(215, 40, 40, $background-alpha);
  }
}