.play-region {
  width: 50%;
  height: 100%;
  background-clip: padding-box;
  @include box-sizing(border-box);

  $play-region-padding: ($global-padding * 0.5) solid transparent;

  &.left {
    border-right: $play-region-padding;
    float: left;
  }

  &.right {
    border-left: $play-region-padding;
    float: right;
  }
}
