$global-padding: 10px;

@import 'compass';
@import 'compass/css3/flexbox';
@import 'compass/css3/animation';

@import 'mixins/animations';

@import 'components/board';
@import 'components/player';
@import 'components/pile';
@import 'components/cards';
@import 'components/hand';

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  @include box-sizing(border-box);
}

body {
  $background-size: 200px;

  background-image: url('/images/background.png');
  background-size: $background-size $background-size;

  padding: $global-padding;
}
