@import 'compass';

$global-padding: 10px;

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  @include box-sizing(border-box);
}

body {
  $background-size: 200px;

  background-image: url('/images/background.png');
  background-size: $background-size $background-size;

  padding: $global-padding;
}

.play-region {
  width: 100%;
  height: 50%;
  background-clip: padding-box;
  @include box-sizing(border-box);

  $separator: ($global-padding * 0.5) solid transparent;

  &.top {
    border-bottom: $separator;
    background-color: red;
  }

  &.bottom {
    border-top: $separator;
    background-color: black;
  }
}
