@import 'compass';

$global-padding: 10px;

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  @include box-sizing(border-box);
}

body {
  $background-size: 200px;

  background-image: url('/images/background.png');
  background-size: $background-size $background-size;

  padding: $global-padding;
}

.play-region {
  width: 50%;
  height: 100%;
  background-clip: padding-box;
  @include box-sizing(border-box);

  $play-region-padding: ($global-padding * 0.5) solid transparent;

  &.left {
    border-right: $play-region-padding;
    background-color: red;
    float: left;
  }

  &.right {
    border-left: $play-region-padding;
    background-color: #0017ff;
    float: right;
  }
}
